.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background-color: #1e1e1e;
    color: white;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    color: #00bfff;
  }

  /* Add to Navbar.css */
.logout-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-left: 15px;
  }
  .logout-button:hover {
    text-decoration: underline;
  }
  